In [8]:
import pandas as pd
df = pd.read_csv('/Users/marco/Downloads/prezzo_alle_8.csv', delimiter=';')
df

                                          Estrazione del 2024-01-31
idImpianto descCarburante   prezzo isSelf                    dtComu
3464       Benzina          2.270  0            30/01/2024 21:00:05
                            1.910  1            30/01/2024 21:00:05
           Gasolio          2.246  0            30/01/2024 21:00:05
                            1.886  1            30/01/2024 21:00:05
...                                                             ...
57950      Benzina          1.849  1            30/01/2024 19:59:00
           Gasolio          1.829  0            30/01/2024 19:59:00
                                   1            30/01/2024 19:59:00
           Gasolio speciale 1.979  0            30/01/2024 19:59:00
                                   1            30/01/2024 19:59:00

[92977 rows x 1 columns]